In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
import requests 
import gmaps
import os
import gmaps.datasets

from api_key import g_key

In [2]:
#Load and Read into output csv from Part 1

cities_data_df = pd.read_csv('output_data/cities.csv')
cities_data_df.head()

,City,Country,Date,Humidity,Lat,Lng,Max Temp,Cloudiness,Wind Speed
0,Atuona,PF,1583371167,69,-9.80,-139.03,81.30,58,10.22
1,Laramie,US,1583371096,37,41.31,-105.59,46.40,22,27.51
2,Ushuaia,AR,1583371091,87,-54.80,-68.30,51.80,75,5.82
3,Faanui,PF,1583371168,73,-16.48,-151.75,82.47,86,5.95
4,Carnarvon,AU,1583371168,88,-24.87,113.63,78.80,0,12.75

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
#Going to be using the lng and lat for location so store 

locations = cities_data_df[["Lat","Lng"]]

#Create a heat map that displays the humidity for every city from the part I 

humidity = cities_data_df["Humidity"]

fig= gmaps.Map()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

fig.add_layer(heat_layer)

In [5]:
#Narrow down the DataFrame to find your ideal weather condition
#lower than 80
fit_conditions_df = cities_data_df.loc[cities_data_df['Max Temp']< 80, :]
#higher than 70
fit_conditions_df = fit_conditions_df.loc[fit_conditions_df['Max Temp']> 70, :]
#wind speed less than 10 mph
fit_conditions_df = fit_conditions_df.loc[fit_conditions_df['Wind Speed'] < 10, :]
#zero cloudiness
fit_conditions_df = fit_conditions_df.loc[fit_conditions_df['Cloudiness'] == 0, :]

fit_conditions_df.head()

,City,Country,Date,Humidity,Lat,Lng,Max Temp,Cloudiness,Wind Speed
71,Necochea,AR,1583371177,83,-38.55,-58.74,71.01,0,3.00
82,Mweka,CD,1583371178,72,-4.85,21.57,71.40,0,2.71
85,Port Alfred,ZA,1583371067,82,-33.59,26.89,71.01,0,8.01
124,Santiago del Estero,AR,1583371184,45,-27.80,-64.26,76.03,0,2.19
219,Villarrica,PY,1583371156,38,-25.75,-56.43,74.97,0,2.35

In [6]:
#Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates
#this part is similar if not identical to session 3 activity 7 
hotel_df = fit_conditions_df
hotel_df['Hotel Name']= np.nan

search = "Hotel"
radius = 5000

#lodging instead of hotel for type
target = "lodging"

idx = 0 
for index, row in hotel_df.iterrows():
    params= {
        "location": f"{row['Lat']}, {row['Lng']}",
        "search": search,
        "radius": radius,
        "target": target,
        "key": g_key,
        
    }
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response= requests.get(url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results)> 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[idx,-1]= name
    idx = idx + 1
    
city_df = hotel_df

In [10]:
#hotel markers 

hotel_markers = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_data = [hotel_markers.format(**row) for index, row in city_df.iterrows()]
location = hotel_df[["Lat","Lng"]]

In [8]:
marker_layer = gmaps.marker_layer(location, info_box_content=hotel_data)
fig.add_layer(marker_layer)
fig

Map(configuration={'api_key': 'AIzaSyA7JNrjE58C90jaCP-I7eJCmCThSfC2MQw'}, data_bounds=[(-51.40481407699965, -1…